@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
.Connexion{
    width: 100%;
    height: 100vh;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .connexion-illustration-part{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .illustration-text{
            padding: 0 20%;
            h3{
                font-family: 'Mulish',sans-serif;
                font-size: 30px;
                font-weight: 600;
                color: var(--primary);
            }
            p{
                font-family: 'Mulish',sans-serif;
                font-size: 14px;
                font-weight: 500;
                color: rgb(109, 109, 109);
            }
        }
        img{
            height: 400px;
            width: 400px;
        }
    }

    .connexion-form-part{
        width: 50%;
        height: 100%;
        background: #a9c6de;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2em 0em 0em 2em;
        .connexion-component{
            height: 550px;
            width: 350px;
            background: #fefefe;
            -webkit-filter: drop-shadow(15px 8px 20px rgba(0, 0, 0, 0.1));
            filter: drop-shadow(15px 8px 20px rgba(0, 0, 0, 0.1));
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 1em;
            padding: 30px;
            .connexion-header{
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: center;
                margin: 10px 0px;
                img{
                    width: 42px;
                    height: 42px;
                    margin: 10px;
                    -o-object-fit: cover;
                    object-fit: cover;
                }
                p{
                    font-family: 'Mulish';
                    font-style: normal;
                    font-weight: 800;
                    font-size: 14px;
                    line-height: 18px;
                    /* or 129% */
                    letter-spacing: 0.3px;
                    margin-left: 7px;
                    color: var(--complement);
                    span {
                        color: var(--primary);
                    }
                }
            }
        .connexion-form{
            margin: 10px 0px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            input{
                height: 40px;
                width: 85%;
                padding: 15px;
                border-radius: 2em;
                background: #f5f5f5;
                border: none;
                margin: 10px;
                font-family: 'Mulish';
                font-size: 13px;
                color: rgb(109, 109, 109);
                margin: 10px 0px;
                outline: 0;
            }
            a{
                margin-top: 5px;
                text-decoration: none;
                color: var(--primary);
                font-size: 13px;
            }
            button{
                border:none;
                width: 85%;
                background: var(--primary);
                border-radius: 2em;
                padding: 10px;
                margin: 20px 0px;
                a{
                    color: #fefefe;
                    text-decoration: none;
                    font-family: 'Mulish';
                    font-size: 15px;
                }
                &:hover{
                    background: var(--complement);
                    transition: all 0.21s ease-in;
                }
            }
        }
    
        .connexion-footer{
            p{
                text-align: center;
                font-size: 13px;
                line-height: 18px;
                color: rgb(109, 109, 109);
                font-family: 'Mulish';
                a{
                    color: var(--primary);
                    text-decoration: none;
                    font-weight: 570;
                }
            }
        }
        }
    }
}