.Navbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 12%;
    .btn-bars {
        display: none;
    }
    .Navbar-brand {
        display: flex;
        align-items: center;
        img {
            width: 42px;
            height: 42px;
            object-fit: cover;
        }
        h3 {
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 800;
            font-size: 14px;
            line-height: 18px;
            /* or 129% */
            letter-spacing: 0.3px;
            margin-left: 7px;
            color: var(--complement);
            span {
                color: var(--primary);
            }
        }
    }
    .Navbar-menu {
        display: flex;
        text-align: center;
        flex-direction: row;
        .Navbar-item {
            /* Subtitle 2 - semibold 14 (18, 0.2px) */
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.2px;
            padding: 0 20px;
            text-decoration: none;
            color: #373F41;
        }
    }
    .Navbar-auth {
        a {
                padding: 12px 18px;
                background: var(--primary);
                /* Button - bold 14 (18, 0.3px) */
                font-family: 'Mulish';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                text-decoration: none;
                letter-spacing: 0.3px;
                border-radius: 0.5em;
                /* Light / White */
                color: #FFFFFF;
        }
    }
    .Handle {
        position: absolute;
        z-index: 2;
        top: 86px;
        left: 0;
        width: 100%;
        -webkit-animation: mobNav 1s;
        animation: mobNav 1s;
        .MobileNav {
            width: inherit;
            min-height: 300px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            border-bottom: 1px solid #ddd;
            // justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            background: var(--complement);
            a {
                /* Subtitle 2 - semibold 14 (18, 0.2px) */
                font-family: 'Mulish';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.2px;
                padding: 10px 0;
                text-decoration: none;
                color: #373F41;
            }
            .mav {
                position: relative;
                margin-top: 30px;
                a {
                        padding: 12px 18px;
                        background: var(--primary);
                        /* Button - bold 14 (18, 0.3px) */
                        font-family: 'Mulish';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 18px;
                        text-align: center;
                        text-decoration: none;
                        letter-spacing: 0.3px;
                        border-radius: 1em;
                        /* Light / White */
                        color: #FFFFFF;
                }
                .btn-switch {
                    position: absolute;
                    top: 50px;
                    left: 40%;
                    padding: 12px;
                    /* Subtitle 2 - semibold 14 (18, 0.2px) */
                    font-family: 'Mulish';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 18px;
                    /* identical to box height, or 129% */
                    letter-spacing: 0.2px;
                    /* Light / Black */
                    color: #373F41;
                    background: #FFFFFF;
                    border-radius: 5px;
                    border: 0;
                    outline: 0;
                    -webkit-transition: all .3s ease-in-out;
                    -o-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;
                    &:hover {
                        background: var(--accent);
                        color: #fff;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:1064px) and (max-width:1241px) {
    .Navbar {
        padding: 0 5%;
    }
}

@media screen and (max-width:1063px) {
    .Navbar {
        padding: 0 5%;
        .Navbar-auth {
            display: none;
        }
        .Navbar-menu {
            display: none;
        }
        .btn-bars {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            border: 0;
            outline: 0;
            background: 0;
            padding: 10px;
        }
    }
}

@-webkit-keyframes mobNav {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes mobNav {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}